<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
    <div>
    <a href="/">Homepage</a>
    <a href="/signIn">Formulaire</a>
    </div>
    <section>
        {% block body %}{% endblock %}
    </section>
    </body>
</html>